<div class="container body-content">
  <loading ng-if="loading"></loading>
  <div ng-if="!loading">
    <h2>Editar medicamento</h2>
    <form>
      <div class="form-horizontal">
        <hr>
        <div class="form-group">
          <label class="control-label col-md-2">Nome</label>
          <div class="col-md-10">
            <input ng-model="medicamento.Nome" class="form-control text-box single-line" type="text">
            <span class="field-validation-valid text-danger">
              <span ng-hide="medicamento.validation.nomeRequiredOk">Nome obrigatório.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Paciente</label>
          <div class="col-md-10">
            <select ng-options="paciente as paciente.Nome for paciente in pacientes track by paciente.Id"
              ng-model="medicamento.Paciente"></select>
            <span class="field-validation-valid text-danger">
              <span ng-hide="medicamento.validation.pacienteRequiredOk">Paciente obrigatório.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input value="Salvar" class="btn btn-default" type="submit" ng-click="update()">
          </div>
        </div>
      </div>
    </form>
    <div><a href="#!/medicamento">Voltar a listagem</a></div>
    <hr>
    <footer-component></footer-component>
    <div>
    </div>