<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Exclusão de médico</h2>
    <h3>Tem certeza que deseja excluir?</h3>
    <div>
      <hr>
      <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>{{medico.Nome}}</dd>
        <dt>Nome de usuário</dt>
        <dd>{{medico.NomeDeUsuario}}</dd>
        <dt>Especialidade</dt>
        <dd>{{medico.Especialidade}}</dd>
        <dt>Desativado?</dt>
        <dd>{{medico.Desativado ? "Sim" : "Não"}}</dd>
      </dl>
      <form>
        <div class="form-actions no-color">
          <input value="Excluir" class="btn btn-default" type="submit" ng-click="delete()"> |<a href="#!/medico">Voltar
            a listagem</a>
        </div>
      </form>
    </div>
    <hr>
    <footer-component></footer-component>
  </div>
</div>