<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Cancelamento de consulta</h2>
    <h3>Tem certeza que deseja cancelar a consulta?</h3>
    <div>
      <hr>
      <dl class="dl-horizontal">
        <dt>Data</dt>
        <dd>{{consulta.Data | date:'dd/MM/yyyy'}}</dd>
        <dt>Médico</dt>
        <dd>{{consulta.Medico.Nome}}</dd>
      </dl>
      <form>
        <div class="form-actions no-color">
          <input value="Excluir" class="btn btn-default" type="submit" ng-click="cancel()"> |<a href="#!/consulta">Voltar
            a listagem</a>
        </div>
      </form>
    </div>
    <hr>
    <footer-component></footer-component>
  </div>
</div>