<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Adicionar médico</h2>
    <form>
      <div class="form-horizontal">
        <hr>
        <div class="form-group">
          <label class="control-label col-md-2">Nome</label>
          <div class="col-md-10">
            <input ng-model="medico.Nome" class="form-control text-box single-line" type="text">
            <span class="field-validation-valid text-danger">
              <span ng-hide="medico.validation.nomeRequiredOk">Nome obrigatório</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Nome de usuário</label>
          <div class="col-md-10">
            <input ng-model="medico.NomeDeUsuario" class="form-control text-box single-line" type="text">
            <span class="field-validation-valid text-danger">
              <span ng-hide="medico.validation.nomeDeUsuarioRequiredOk">Nome de usuário obrigatório</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Especialidade</label>
          <div class="col-md-10">
            <input ng-model="medico.Especialidade" class="form-control text-box single-line" type="text">
            <span class="field-validation-valid text-danger">
              <span ng-hide="medico.validation.especialidadeOk">Especialidade obrigatória</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Desativado?</label>
          <div class="col-md-10">
            <div class="checkbox">
              <input ng-model="medico.Desativado" class="check-box" value="on" type="checkbox">
              <span class="field-validation-valid text-danger"></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Senha</label>
          <div class="col-md-10">
            <input ng-model="medico.Senha" class="form-control text-box single-line" type="password">
            <span class="field-validation-valid text-danger">
              <span ng-hide="medico.validation.senhaRequiredOk">Senha obrigatório</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input value="Adicionar" class="btn btn-default" type="submit" ng-click="create()">
          </div>
        </div>
      </div>
    </form>
    <div><a href="#!/medico">Voltar a listagem</a></div>
    <hr />
    <footer-component></footer-component>
  </div>
  <div>