<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Entrar</h2>
    <form>
      <div class="form-horizontal">
        <hr>       
        <div class="form-group">
          <label class="control-label col-md-2">Nome de usuário</label>
          <div class="col-md-10">
            <input ng-model="usuario.NomeDeUsuario" class="form-control text-box single-line" type="text">
            <span class="field-validation-valid text-danger">
              <span ng-hide="usuario.validation.nomeDeUsuarioRequiredOk">Nome de usuário obrigatório</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Senha</label>
          <div class="col-md-10">
            <input ng-model="usuario.Senha" class="form-control text-box single-line" type="password">
            <span class="field-validation-valid text-danger">
              <span ng-hide="usuario.validation.senhaRequiredOk">Senha obrigatório</span>
            </span>
          </div>
        </div>       
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input value="Entrar" class="btn btn-default" type="submit" ng-click="login()">
          </div>
        </div>
      </div>
    </form>
    <hr />
    <footer-component></footer-component>
  </div>
  <div>