<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Listagem de paciente</h2>
    <p><a href="#!/paciente/create">Adicionar</a></p>
    <table class="table" ng-if="!loading">
      <tbody>
        <tr>
          <th>Nome</th>
          <th>Nome de usuário</th>
          <th>Desativado?</th>
          <th></th>
        </tr>
        <tr ng-repeat="paciente in pacientes">
          <td>{{paciente.Nome}}</td>
          <td>{{paciente.NomeDeUsuario}}</td>
          <td>{{paciente.Desativado ? "Sim" : "Não"}}</td>
          <td><a href="#!/paciente/update/{{paciente.Id}}">Editar</a> |<a href="#!/paciente/read/{{paciente.Id}}">Detalhes</a>
            |<a href="#!/paciente/delete/{{paciente.Id}}">Excluir</a></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" ng-class="{active : page.selected}" ng-repeat="page in paging.pages track by page.number">
          <a class="page-link" ng-click="paging.changePage(page.number)">{{page.number}}</a>
        </li>
      </ul>
    </nav>
    <footer-component></footer-component>
  </div>
</div>