<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Listagem de medicamentos</h2>
    <p><a href="#!/medicamento/create">Adicionar</a></p>
    <table class="table" ng-if="!loading">
      <tbody>
        <tr>
          <th>Nome</th>
          <th>Nome do paciente</th>
          <th></th>
        </tr>
        <tr ng-repeat="medicamento in medicamentos">
          <td>{{medicamento.Nome}}</td>
          <td>{{BuscarNomePaciente(medicamento.PacienteId)}}</td>
          <td><a href="#!/medicamento/update/{{medicamento.Id}}">Editar</a> |<a href="#!/medicamento/read/{{medicamento.Id}}">Detalhes</a>
            |<a href="#!/medicamento/delete/{{medicamento.Id}}">Excluir</a></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" ng-class="{active : page.selected}" ng-repeat="page in paging.pages track by page.number">
          <a class="page-link" ng-click="paging.changePage(page.number)">{{page.number}}</a>
        </li>
      </ul>
    </nav>
    <footer-component></footer-component>
  </div>
</div>