<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Consultas por data</h2>
    <form>
      <div class="form-horizontal">
        <hr>
        <div class="form-group">
          <label class="control-label col-md-2">Data</label>
          <div class="col-md-10">
            <input ng-model="parametros.Data" class="form-control text-box single-line" type="date">
            <span class="field-validation-valid text-danger">
              <span ng-hide="parametros.validation.dataRequiredOk">Data obrigatória.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input value="Buscar" class="btn btn-default" type="submit" ng-click="search()">
          </div>
        </div>
      </div>
    </form>
    <hr />
    <table class="table" ng-if="!loading">
      <tbody>
        <tr>
          <th>Paciente</th>
          <th>Data</th>
          <th></th>
        </tr>
        <tr ng-repeat="consulta in consultas">
          <td>{{BuscarNomePaciente(consulta.PacienteId)}}</td>
          <td>{{consulta.Data | date:'dd/MM/yyyy'}}</td>
          <td><a href="#!/consulta/update/{{consulta.Id}}">Editar</a> |<a href="#!/consulta/read/{{consulta.Id}}">Detalhes</a>
            |<a href="#!/consulta/delete/{{consulta.Id}}">Excluir</a></td>
        </tr>
      </tbody>
    </table>
    <footer-component></footer-component>
  </div>
  <div>