<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
     <h2>Detalhes do administrador</h2>
     <div>
        <hr>
        <dl class="dl-horizontal">
           <dt>Nome</dt>
           <dd>{{administrador.Nome}}</dd>          
           <dt>Nome de usuário</dt>
           <dd>{{administrador.NomeDeUsuario}}</dd>    
        </dl>
     </div>
     <p><a href="#!/administrador/update/{{Id}}">Editar</a> |<a href="#!/administrador">Voltar a listagem</a></p>
     <hr>
     <footer-component></footer-component>
  </div>
</div>
