<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Listagem de consultas</h2>
    <p><a href="#!/consulta/create">Adicionar</a></p>
    <table class="table" ng-if="!loading">
      <tbody>
        <tr>
          <th>Médico</th>
          <th>Data</th>
          <th></th>
        </tr>
        <tr ng-repeat="consulta in consultas">
          <td>{{BuscarNomeMedico(consulta.MedicoId)}}</td>
          <td>{{consulta.Data | date:'dd/MM/yyyy'}}</td>
          <td><a href="#!/consulta/update/{{consulta.Id}}">Editar</a> |<a href="#!/consulta/read/{{consulta.Id}}">Detalhes</a>
            |<a href="#!/consulta/delete/{{consulta.Id}}">Excluir</a> |<a href="#!/consulta/cancelar/{{consulta.Id}}">Cancelar</a></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" ng-class="{active : page.selected}" ng-repeat="page in paging.pages track by page.number">
          <a class="page-link" ng-click="paging.changePage(page.number)">{{page.number}}</a>
        </li>
      </ul>
    </nav>
    <footer-component></footer-component>
  </div>
</div>