<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="toggleCollapse()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">RedSpark</a>
           
        </div>
        <div class="navbar-collapse" ng-class="{collapse: !collapse, 'collapse in':collapse}">
            <ul class="nav navbar-nav" ng-click="toggleCollapse()" >
                <li><a ng-show="Autenticado()" href="#!/">Home</a></li>
                <li><a ng-show="TipoUsuario() === 'Administrador'" href="#!/administrador">Administradores</a></li>
                <li><a ng-show="TipoUsuario() === 'Administrador'" href="#!/medico">Médicos</a></li>
                <li><a ng-show="TipoUsuario() === 'Administrador'" href="#!/paciente">Pacientes</a></li>

                <li><a ng-show="TipoUsuario() === 'Medico'" href="#!/medicamento">Medicamentos</a></li>
                <li><a ng-show="TipoUsuario() === 'Medico'" href="#!/consulta/listbydate">Consultas</a></li>

                <li><a ng-show="TipoUsuario() === 'Paciente'" href="#!/exame">Exames</a></li>

                <li><a ng-show="TipoUsuario() === 'Paciente'" href="#!/consulta">Consultas</a></li>
            </ul>
        </div>
    </div>
</div>
