<div class="container body-content">
  <loading ng-if="loading"></loading>
  <div ng-if="!loading">
    <h2>Editar consulta</h2>
    <form>
      <div class="form-horizontal">
        <hr>
        <div class="form-group">
          <label class="control-label col-md-2">Médico</label>
          <div class="col-md-10">
            <select ng-options="medico as medico.Nome for medico in medicos track by medico.Id" ng-model="consulta.Medico"></select>
            <span class="field-validation-valid text-danger">
              <span ng-hide="consulta.validation.medicoRequiredOk">Médico obrigatório.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Data</label>
          <div class="col-md-10">
            <input ng-model="consulta.Data" class="form-control text-box single-line" type="date">
            <span class="field-validation-valid text-danger">
              <span ng-hide="consulta.validation.dataRequiredOk">Data obrigatória.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input value="Salvar" class="btn btn-default" type="submit" ng-click="update()">
          </div>
        </div>
      </div>
    </form>
    <div><a href="#!/consulta">Voltar a listagem</a></div>
    <hr>
    <footer-component></footer-component>
    <div>
    </div>