<div class="container body-content">
  <loading ng-if="loading"></loading>
  <div ng-if="!loading">
    <h2>Editar exame</h2>
    <form>
      <div class="form-horizontal">
        <hr>
        <div class="form-group">
          <label class="control-label col-md-2">Nome do exame</label>
          <div class="col-md-10">
            <input ng-model="exame.Nome" class="form-control text-box single-line" type="text">
            <span class="field-validation-valid text-danger">
              <span ng-hide="exame.validation.nomeRequiredOk">Nome do exame obrigatório.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Data</label>
          <div class="col-md-10">
            <input ng-model="exame.Data" class="form-control text-box single-line" type="date">
            <span class="field-validation-valid text-danger">
              <span ng-hide="exame.validation.dataRequiredOk">Data obrigatória.</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input value="Salvar" class="btn btn-default" type="submit" ng-click="update()">
          </div>
        </div>
      </div>
    </form>
    <div><a href="#!/exame">Voltar a listagem</a></div>
    <hr>
    <footer-component></footer-component>
    <div>
    </div>