<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Detalhes do médico</h2>
    <div>
      <hr>
      <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>{{medico.Nome}}</dd>
        <dt>Nome de usuário</dt>
        <dd>{{medico.NomeDeUsuario}}</dd>
        <dt>Especialidade</dt>
        <dd>{{medico.Especialidade}}</dd>
        <dt>Desativado?</dt>
        <dd>{{medico.Desativado ? "Sim" : "Não"}}</dd>
      </dl>
    </div>
    <p><a href="#!/medico/update/{{Id}}">Editar</a> |<a href="#!/medico">Voltar a listagem</a></p>
    <hr>
    <footer-component></footer-component>
  </div>
</div>