<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Detalhes do exame</h2>
    <div>
      <hr>
      <dl class="dl-horizontal">
        <dt>Nome do exame</dt>
        <dd>{{exame.Nome}}</dd>
        <dt>Data</dt>
        <dd>{{exame.Data | date:'dd/MM/yyyy'}}</dd>
      </dl>
    </div>
    <p><a href="#!/exame/update/{{Id}}">Editar</a> |<a href="#!/exame">Voltar a listagem</a></p>
    <hr>
    <footer-component></footer-component>
  </div>
</div>