<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Listagem de exames</h2>
    <p><a href="#!/exame/create">Adicionar</a></p>
    <table class="table" ng-if="!loading">
      <tbody>
        <tr>
          <th>Nome do exame</th>
          <th>Data</th>
          <th></th>
        </tr>
        <tr ng-repeat="exame in exames">
          <td>{{exame.Nome}}</td>
          <td>{{exame.Data | date:'dd/MM/yyyy'}}</td>
          <td><a href="#!/exame/update/{{exame.Id}}">Editar</a> |<a href="#!/exame/read/{{exame.Id}}">Detalhes</a> |<a
              href="#!/exame/delete/{{exame.Id}}">Excluir</a></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" ng-class="{active : page.selected}" ng-repeat="page in paging.pages track by page.number">
          <a class="page-link" ng-click="paging.changePage(page.number)">{{page.number}}</a>
        </li>
      </ul>
    </nav>
    <footer-component></footer-component>
  </div>
</div>