<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Listagem de médicos</h2>
    <p><a href="#!/medico/create">Adicionar</a></p>
    <table class="table" ng-if="!loading">
      <tbody>
        <tr>
          <th>Nome</th>
          <th>Nome de usuário</th>
          <th>Desativado?</th>
          <th></th>
        </tr>
        <tr ng-repeat="medico in medicos">
          <td>{{medico.Nome}}</td>
          <td>{{medico.NomeDeUsuario}}</td>
          <td>{{medico.Desativado ? "Sim" : "Não"}}</td>
          <td><a href="#!/medico/update/{{medico.Id}}">Editar</a> |<a href="#!/medico/read/{{medico.Id}}">Detalhes</a>
            |<a href="#!/medico/delete/{{medico.Id}}">Excluir</a></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" ng-class="{active : page.selected}" ng-repeat="page in paging.pages track by page.number">
          <a class="page-link" ng-click="paging.changePage(page.number)">{{page.number}}</a>
        </li>
      </ul>
    </nav>
    <footer-component></footer-component>
  </div>
</div>