<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Detalhes do medicamento</h2>
    <div>
      <hr>
      <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>{{medicamento.Nome}}</dd>
        <dt>Nome do paciente</dt>
        <dd>{{medicamento.Paciente.Nome}}</dd>
      </dl>
    </div>
    <p><a href="#!/medicamento/update/{{Id}}">Editar</a> |<a href="#!/medicamento">Voltar a listagem</a></p>
    <hr>
    <footer-component></footer-component>
  </div>
</div>