<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Detalhes do consulta</h2>
    <div>
      <hr>
      <dl class="dl-horizontal">
        <dt>Data</dt>
        <dd>{{consulta.Data | date:'dd/MM/yyyy'}}</dd>
        <dt>Médico</dt>
        <dd>{{consulta.Medico.Nome}}</dd>
      </dl>
    </div>
    <p><a href="#!/consulta/update/{{Id}}">Editar</a> |<a href="#!/consulta">Voltar a listagem</a></p>
    <hr>
    <footer-component></footer-component>
  </div>
</div>