<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Exclusão de exame</h2>
    <h3>Tem certeza que deseja excluir?</h3>
    <div>
      <hr>
      <dl class="dl-horizontal">
        <dt>Nome do exame</dt>
        <dd>{{exame.Nome}}</dd>
        <dt>Data</dt>
        <dd>{{exame.Data | date:'dd/MM/yyyy'}}</dd>
      </dl>
      <form>
        <div class="form-actions no-color">
          <input value="Excluir" class="btn btn-default" type="submit" ng-click="delete()"> |<a href="#!/exame">Voltar
            a listagem</a>
        </div>
      </form>
    </div>
    <hr>
    <footer-component></footer-component>
  </div>
</div>