<loading ng-if="loading"></loading>
<div ng-if="!loading">
  <div class="container body-content">
    <h2>Listagem de administradores</h2>
    <p><a href="#!/administrador/create">Adicionar</a></p>
    <table class="table" ng-if="!loading">
      <tbody>
        <tr>
          <th>Nome</th>
          <th>Nome de usuário</th>
          <th></th>
        </tr>
        <tr ng-repeat="administrador in administradores">
          <td>{{administrador.Nome}}</td>
          <td>{{administrador.NomeDeUsuario}}</td>
          <td><a href="#!/administrador/update/{{administrador.Id}}">Editar</a> |<a href="#!/administrador/read/{{administrador.Id}}">Detalhes</a>
            |<a href="#!/administrador/delete/{{administrador.Id}}">Excluir</a></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" ng-class="{active : page.selected}" ng-repeat="page in paging.pages track by page.number">
          <a class="page-link" ng-click="paging.changePage(page.number)">{{page.number}}</a>
        </li>
      </ul>
    </nav>
    <footer-component></footer-component>
  </div>
</div>